
    <form ng-submit="root.onSubmit()" name="root.form" novalidate>
        <formly-form model="root.invoiceModel" fields="root.invoiceFields" options="root.options" form="root.form">
            <button id='submit-button' type="submit" class="btn btn-primary submit-button">Submit invoice to ACC</button>
        </formly-form>
    </form>
    </br>


    <!-- Fields to test Local and Session Storage
    <br/><br/><br/><br/>
    <label for="session-input-session">This input keeps its value in Session Storage</label>
    <input id="session-input-session"
           type="text"
           class="form-control"
           placeholder="Session storage input"
           aria-describedby="Session storage input"
           ng-model="root.sessionValue"
           ng-keyup="root.saveSessionStorage()"
    >
    <label for="session-input-local">This input keeps its value in Local Storage</label>
    <input id="session-input-local"
           type="text"
           class="form-control"
           placeholder="Local storage input"
           aria-describedby="Local storage input"
           ng-model="root.localValue"
           ng-keyup="root.saveLocalStorage()"
    >
<br/>
<button class="btn btn-primary" ng-click="root.clearSessionStorage()">Clear Session Storage</button>
<button class="btn btn-primary" ng-click="root.clearLocalStorage()">Clear Local Storage</button>
    -->