<!doctype html>
<html ng-app="myAccApp">
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->

<head>
  <base href="/">
</head>
  <body>
    <div data-navbar title="myACC"></div>
    <div class="header-container">
      <h1>My Acc: Testing</h1>
      <div class="header-image-container"></div>
    </div>
    <div class="container">
      <div class="row"></div>
      <ui-view></ui-view>
    </div>
    <div class="footer">
      <div class="container">
        <p>| MyACC | Solnet Solutions</p>
      </div>
    </div>
  </body>
</html>